table {
	/* table-layout: fixed; */
	/*width: 50px;*/
	border: 1px solid black;
}	
th  {
	width: 50px;
	border: 1px solid black;
}
td {
	width: 50px;
	border: 1px solid black;
}
tbody td:first-child {
		font-style: italic;
}
tbody td:nth-child(2){
	color: red;
}
td:nth-child(4){
	color: blue;
}
tfoot:first-child {
	color: black;
	
}
tfoot:nth-child(2){
	color: black;

}
tbody tr:first-child{
	background-color: lime;
}
tbody tr:nth-child(2){
	background-color: aqua;
}
tbody tr:nth-child(3){
	background-color: lime;
}
tbody tr:nth-child(4){
	background-color: aqua;
}
tbody tr:nth-child(5){
	background-color: lime;
}
dt:hover + dd {
    background-color: #9370db;
}
.outer-content {
    margin-top: 20px;
    width: 75%;
    background-color: #FF1493;
}
.inner-content {
    margin: 0 auto;
    width: 75%;
    background-color: #00BFFF;
}
